.answers-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

button:disabled {
   background: #bdc3c7;
   color: #fff;
   cursor: not-allowed;
}
#noteDisplay {
    margin: 30px auto 10px auto;
    width: 400px;
    height: 200px;
    display: block;
}

#results {
    margin: 30px auto 10px auto;
    width: 200px;
    height: 200px;
    display: block;
    text-align: enter;
}

#speedDiv { margin: auto auto 10px auto; width: 300px; text-align: center; }
#speedControl { margin: 20px auto 10px auto; width: 300px; }
#speedLabel { font-size: 16px; margin-right: 10px; }
#speedValue { font-weight: bold; color: #2980b9; }

#octaveLabel { font-size: 16px; margin-right: 10px; }
#octaveValue { font-weight: bold; color: #2980b9; }
