.answers-container {
  grid-template-columns: 1fr 1fr;
}
button.correct { background-color: #4caf50; }
button.incorrect { background-color: #f44336; }
.progress-bar {
  height: 5px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}
#progress {
  width: 0%;
  height: 100%;
  background-color: #6b73ff;
  transition: width 0.3s;
}

#results {
    margin: 30px auto 10px auto;
    width: 200px;
    height: 200px;
    display: block;
    text-align: enter;
}